LoadModule = webadmin
Version = 1.8.2

<Listener listener0>
	AllowIRC = true
	AllowWeb = true
	IPv4 = true
	IPv6 = true
	Port = 8000
	SSL = false
	URIPrefix = /
</Listener>

<Listener l>
	Port = {{ znc_port }}
	IPv4 = true
	IPv6 = true
	SSL = true
</Listener>

<User {{ znc_user }}>
	Pass       = {{ znc_pass }}
	Admin      = true
	Nick       = {{ znc_nick }}
	AltNick    = {{ znc_nick }}_
	Ident      = {{ znc_nick }}
	LoadModule = chansaver
	LoadModule = controlpanel

  <Network oftc>
		Encoding = ^UTF-8
		FloodBurst = 9
		FloodRate = 2.00
		IRCConnectEnabled = true
		JoinDelay = 0
		LoadModule = cert
		LoadModule = clientbuffer
		LoadModule = sasl
		LoadModule = simple_away
		Server = 10.99.99.91 +6697
		TrustAllCerts = false
		TrustPKI = true

		<Chan #archlinux>
		</Chan>
	</Network>

  <Network oftc>
		Encoding = ^UTF-8
		FloodBurst = 9
		FloodRate = 2.00
		IRCConnectEnabled = true
		JoinDelay = 0
		LoadModule = cert
		LoadModule = clientbuffer
		LoadModule = sasl
		LoadModule = simple_away
		Server = 10.99.99.91 +6697
		TrustAllCerts = false
		TrustPKI = true

		<Chan #tor>
		</Chan>
	</Network>
</User>
