---
- hosts: localhost
  become: true
  gather_facts: false

  vars_files:
  - vars/ansible.json

  tasks:
  - name: Ensure the ZNC configuration directory exists
    ansible.builtin.file:
      path: /var/lib/znc/.znc/configs/
      state: directory
      mode: '0755'
  - name: Ensure the LiberaChat network directory exists
    ansible.builtin.file:
      path: /var/lib/znc/.znc/users/{{ znc_user }}/networks/liberachat/moddata/cert/
      state: directory
      mode: '0755'
  - name: Ensure the OFTC network directory exists
    ansible.builtin.file:
      path: /var/lib/znc/.znc/users/{{ znc_user }}/networks/oftc/moddata/cert/
      state: directory
      mode: '0755'
  - name: Ensure the ownership of the ZNC directory is changed
    ansible.builtin.file:
      path: /var/lib/znc/.znc/
      state: directory
      recurse: true
      owner: znc
      group: znc
      mode: 755
  - name: Ensure the ZNC configuration is in place
    ansible.builtin.template:
      src: templates/znc.conf.j2
      dest: /var/lib/znc/.znc/configs/znc.conf
      owner: znc
      group: znc
      mode: '0644'
  - name: Ensure the ZNC certificate is created
    become: true
    become_user: znc
    shell:
      cmd: znc --makepem
  - name: Ensure the ZNC certificate fingerprint is obtained
    ansible.builtin.shell:
      cmd: cat /var/lib/znc/.znc/znc.pem | openssl x509 -sha512 -fingerprint -noout | tr -d ':' | tr 'A-Z' 'a-z' | cut -d = -f 2
    register: znc_cert_fingerprint
  - name: Ensure the ZNC certificate fingerprint is printed
    ansible.builtin.debug:
      var: znc_cert_fingerprint.stdout_lines
  - name: Ensure the LiberaChat network user certificate is created
    ansible.builtin.shell:
      cmd: openssl req -nodes -newkey rsa:4096 -keyout user.pem -x509 -days 3650 -out user.pem -subj "/CN={{ liberachat_user }}"
    args:
      chdir: /var/lib/znc/.znc/users/{{ znc_user }}/networks/liberachat/moddata/cert/
  - name: Ensure the OFTC network user certificate is created
    ansible.builtin.shell:
      cmd: openssl req -nodes -newkey rsa:4096 -keyout user.pem -x509 -days 3650 -out user.pem -subj "/CN={{ oftc_user }}"
    args:
      chdir: /var/lib/znc/.znc/users/{{ znc_user }}/networks/oftc/moddata/cert/
  - name: Ensure the fingerprint for the user certificate is printed
    ansible.builtin.shell:
      cmd: openssl x509 -sha1 -noout -fingerprint -in user.pem | sed -e 's/^.*=//;s/://g;y/ABCDEF/abcdef/'
    args:
      chdir: /var/lib/znc/.znc/users/{{ znc_user }}/networks/liberachat/moddata/cert/
    register: liberachat_fingerprint
  - name: Ensure the user certificate fingerprint is printed
    ansible.builtin.debug:
      var: liberachat_fingerprint.stdout_lines
  - name: Ensure the fingerprint for the user certificate is printed
    ansible.builtin.shell:
      cmd: openssl x509 -sha1 -noout -fingerprint -in user.pem | sed -e 's/^.*=//;s/://g;y/ABCDEF/abcdef/'
    args:
      chdir: /var/lib/znc/.znc/users/{{ znc_user }}/networks/oftc/moddata/cert/
    register: oftc_fingerprint
  - name: Ensure the OFTC certificate fingerprint is printed
    ansible.builtin.debug:
      var: oftc_fingerprint.stdout_lines
  - name: Ensure the LiberaChat certificate belongs to the ZNC user
    ansible.builtin.file:
      path: /var/lib/znc/.znc/users/{{ znc_user }}/networks/liberachat/moddata/cert/user.pem
      owner: znc
      group: znc
  - name: Ensure the OFTC certificate belongs to the ZNC user
    ansible.builtin.file:
      path: /var/lib/znc/.znc/users/{{ znc_user }}/networks/oftc/moddata/cert/user.pem
      owner: znc
      group: znc
  - name: Ensure the ZNC service is enabled
    ansible.builtin.systemd:
      name: znc
      enabled: true
  - name: Ensure the ZNC systemd directory exists
    ansible.builtin.file:
      path: /etc/systemd/system/znc.service.d/
      state: directory
  - name: Ensure the ZNC daemon override is in place
    ansible.builtin.copy:
      src: files/override.conf
      dest: /etc/systemd/system/znc.service.d/override.conf
      owner: root
      group: root
      mode: '0644'
  - name: Ensure the ZNC daemon is reloaded and restared
    ansible.builtin.systemd:
      state: restarted
      daemon_reload: true
      name: znc
